.genres {

  &__wrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;

    @include vport--md {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    @include vport--md {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem;
    }
  }

  &__container {
    margin-top: 4rem;

    &.swiper-wrapper {
      box-sizing: border-box;
    }
    @include vport--sm {
      margin-top: 1.6rem;
      overflow: hidden;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 3.2rem;
    }
  }

  &__list {
    margin: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.7rem;

    @media (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2.4rem;
    }

    @include vport--md {
      margin-top: 3.2rem;
      grid-gap: 1.6rem;
    }

    @include vport--sm {
      margin-top: 1.6rem;
      display: flex;
      grid-template-columns: auto;
      grid-gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    min-height: 198px;

    &--romance {
      background-image: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
    }

    &--drama {
      background-image: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
    }

    &--historical {
      background-image: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
    }

    &--action {
      background-image: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
    }

    &--sci-fi {
      background-image: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
    }

    &--horror {
      background-image: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
    }

    &--comedy {
      background-image: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
    }

    &--documentary {
      background-image: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
    }

    @include vport--md {
      min-height: 16rem;
    }

    @include vport--sm {
      width: 100%;
      width: 24rem;
      border-radius: 12px;
      min-height: 16rem;
      transition-property: transform, -webkit-transform;
    }
  }

  &__img {
    @include vport--md {
      max-width: 6rem;
    }

    @include vport--sm {
      max-width: 5rem;
    }
  }

  &__subtitle {
    margin: 0;
    margin-top: 0.8rem;
    font-size: 2.8rem;
    line-height: 2rem;
    font-weight: 700;

    @include vport--md {
      margin-top: 1.6rem;
      font-size: 2.4rem;
    }

    @include vport--md {
      margin-top: 1.2rem;
      font-size: 1.6rem;
    }
  }
}

.swiper-pagination-bullet {
  background-color: $bg-blue;
  opacity: .4;
}

.swiper-pagination-bullet-active {
  background-color: $bg-blue;
  background-image: $bg-blue-gradient;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .3rem;
}
