.offer {
  margin-top: 12.1rem;
  margin-bottom: 12.1rem;

  &__wrapper {
    max-width: 122.4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/offer-bg.png");
    padding: 7.1rem 10.7rem 7.1rem 5.7rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    margin: 0;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    max-width: 80rem;
  }

  &__btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 10rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 800;
    background-color: $bg-blue;
    background-image: $bg-blue-gradient;
    color: $white;
    box-shadow: 0px 4px 50px $bg-blue;
    transition: .2s ease box-shadow;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
  
  // &__item {
  //     flex: 0 0 50%;
  //     border-radius: 2rem;

  //     &:first-child {
  //         .marketing__link {
  //             border-radius: 2rem 0 0 2rem;
  //         }
  //     }

  //     &:last-child {
  //         .marketing__link {
  //             border-radius: 0 2rem 2rem 0;
  //         }
  //     }
  // }

  // &__link {
  //     overflow: hidden;
  //     position: relative;
  //     width: 100%;
  //     height: 34.1rem;
  //     display: block;
  // }

  // &__img {
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //     transform: translate(-50%,-50%);
  //     object-fit: cover;
  // }
}