.subtitle {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: .9rem;
  padding-bottom: .7rem;
  padding-right: 2.4rem;
  font-size: 2.8rem;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 1.9rem;

  &__link {
    font: inherit;
    color: $white;
    transition: opacity ease .2s;
  }

  &::before {
    content: "";
    position: absolute;
    width: .8rem;
    height: 3.5rem;
    left: 0;
    top: calc(50% - 1.75rem);
    background-image: $bg-blue-gradient;
    border-radius: 5rem;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - .6rem);
    width: .9rem;
    height: 1.6rem;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    transition: transform ease .2s, opacity ease .2s,;
  }

  &:hover,
  &:focus {
    .subtitle__link {
      opacity: .7;
    }

    &::after {
      opacity: .7;
      transform: translateX(0.7rem)
    }
  }
}