.subtitle {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: .9rem;
  padding-bottom: .7rem;
  padding-right: 2.4rem;
  font-size: 2.8rem;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 1.9rem;

  &::before {
    content: "";
    position: absolute;
    width: .8rem;
    height: 3.5rem;
    left: 0;
    top: calc(50% - 1.75rem);
    background-image: $bg-blue-gradient;
    border-radius: 5rem;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - .7rem);
    width: .9rem;
    height: 1.6rem;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
  }
}