.user-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  margin-right: -0.2rem;

  &__item {
    &:not(:last-child) {
      margin-right: 6.2rem;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity ease .2s;

    &--search {
      background-image: url("../img/search.svg");
    }

    &--notification {
      background-image: url("../img/notification.svg");
    }

    &--user {
      background-image: url("../img/user.svg");
    }

    &:hover,
    &:focus {
      opacity: .5;
    }
  }

  @include vport--md {
    &__item:not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  @include vport--sm {
    margin-left: auto;

    &__btn {
      padding: 0.4rem;
    }

    &__item:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
}