// Colors
$white: #fff;
$gray: #C2C2C2;
$black: #000;
$bg-blue: #326CFF;
$bg-dark-blue: #0D1A73;
$bg-blue-gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$bg-dark-blue-gradient: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
$border-gray: #2F2E2E;
$footer-bg: #101012;

// Viewports
$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--1280: 1280px;
$viewport--xl: 1440px;
