section.actors 
  .actors__wrapper.wrapper 
    h2.actors__title.subtitle 
      a(href="#!").actors__title-link.subtitle__link Popular Actors & Directors
    ul.actors__list 
      li.actors__item
        a(href="#!").actors__link
          img(src="img/actors/actor-1.png", alt="Samantha Bowen").actors__img
        h3.actors__subtitle Samantha Bowen
      li.actors__item
        a(href="#!").actors__link
          img(src="img/actors/actor-2.png", alt="Rhys Birch").actors__img
        h3.actors__subtitle Rhys Birch
      li.actors__item
        a(href="#!").actors__link
          img(src="img/actors/actor-3.png", alt="James Holloway").actors__img
        h3.actors__subtitle James Holloway
      li.actors__item
        a(href="#!").actors__link
          img(src="img/actors/actor-4.png", alt="Joshua Walton").actors__img
        h3.actors__subtitle Joshua Walton
      li.actors__item
        a(href="#!").actors__link
          img(src="img/actors/actor-5.png", alt="Patrick Elliott").actors__img
        h3.actors__subtitle Patrick Elliott
      li.actors__item
        a(href="#!").actors__link
          img(src="img/actors/actor-6.png", alt="Samantha Bowen").actors__img
        h3.actors__subtitle Morgan O'Neill