section.banner
  img(src="img/banner.png", alt="Банер").banner__img-bg
  .banner__wrapper.wrapper 
    .banner__container 
      h1.banner__title Zack Snyder's Justice League
      .banner__info 
        span.banner__year 2021
        span.banner__age 18+
        span.banner__time 4h 2min
        span.banner__rating 8.8
      p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
      .banner__control 
        button(type="button").banner__btn.banner__btn--main Watch
        button(type="button").banner__btn.banner__btn--more More information