footer.footer   
  .footer__wrapper.wrapper
    .footer__logo-block 
      a(href="").footer__logo-link
        img(src="img/logo.svg", alt="Logo")
    .footer__conteiner 
      ul.footer__list
        li.footer__item
          a.footer__link(href="#!") Voice over and Subtitle 
        li.footer__item
          a.footer__link(href="#!") Media Center  
        li.footer__item
          a.footer__link(href="#!") Privacy
        li.footer__item
          a.footer__link(href="#!") Contact us
      ul.footer__list
        li.footer__item
          a.footer__link(href="#!") Voice Description
        li.footer__item
          a.footer__link(href="#!") Investor Relations
        li.footer__item
          a.footer__link(href="#!") Legal Provisions
      ul.footer__list
        li.footer__item
          a.footer__link(href="#!") Help Center
        li.footer__item
          a.footer__link(href="#!") Job Opportunities
        li.footer__item
          a.footer__link(href="#!") Cookies Preferences
      ul.footer__list
        li.footer__item
          a.footer__link(href="#!") Gift Cards
        li.footer__item
          a.footer__link(href="#!") Terms of Use
        li.footer__item
          a.footer__link(href="#!") Corporate Informations
