section.genres
  .genres__wrapper.wrapper 
    h2.genres__title.subtitle 
      a(href="#!").genres__title-link Popular Genres
    ul.genres__list 
      li.genres__item 
        a.genres__link
          img(src="img/posters-genres/poster-1.png", alt="Move").genres__img
      li.genres__item 
        a.genres__link
          img(src="img/posters-genres/poster-2.png", alt="Move").genres__img
      li.genres__item 
        a.genres__link
          img(src="img/posters-genres/poster-3.png", alt="Move").genres__img
      li.genres__item 
        a.genres__link
          img(src="img/posters-genres/poster-4.png", alt="Move").genres__img
      li.genres__item 
        a.genres__link
          img(src="img/posters-genres/poster-5.png", alt="Move").genres__img
      li.genres__item 
        a.genres__link
          img(src="img/posters-genres/poster-6.png", alt="Move").genres__img