section.marketing
  .marketing__wrapper.wrapper
    a(href="#!").marketing__link
      .marketing__item.marketing__item--banner
        img(src="img/marketing/marketing-1.png" alt="marketing").marketing__img
      .marketing__item.marketing__item--release
        img(src="img/marketing/marketing-2.png" alt="marketing").marketing__img