section.trending
  .trending__wrapper.wrapper
    a(href="#!").subtitle.subtitle__link
      h2.trending__title.subtitle__title Trending Movies
    .trending__container.trending__container--movies
      ul.trending__list.swiper-wrapper
        li.trending__item.swiper-slide
          a.trending__link
            img(src="img/posters-movies/poster-1.png", alt="Move").trending__img
        li.trending__item.swiper-slide
          a.trending__link
            img(src="img/posters-movies/poster-2.png", alt="Move").trending__img
        li.trending__item.swiper-slide
          a.trending__link
            img(src="img/posters-movies/poster-3.png", alt="Move").trending__img
        li.trending__item.swiper-slide
          a.trending__link
            img(src="img/posters-movies/poster-4.png", alt="Move").trending__img
        li.trending__item.swiper-slide
          a.trending__link
            img(src="img/posters-movies/poster-5.png", alt="Move").trending__img
        li.trending__item.swiper-slide
          a.trending__link
            img(src="img/posters-movies/poster-6.png", alt="Move").trending__img
      .swiper-pagination.trending__pagination
    button(type="button").btn-gradient.trending__btn See more
