section.movies
  .movies__wrapper.wrapper 
    h2.movies__title.subtitle 
      a(href="#!").movies__title-link.subtitle__link Trending TV Shows
    ul.movies__list 
      li.movies__item 
        a.movies__link
          img(src="img/posters-tv-shows/poster-1.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-tv-shows/poster-2.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-tv-shows/poster-3.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-tv-shows/poster-4.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-tv-shows/poster-5.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-tv-shows/poster-6.png", alt="Move").movies__img