section.movies
  .movies__wrapper.wrapper 
    h2.movies__title.subtitle 
      a(href="#!").movies__title-link Trending Movies
    ul.movies__list 
      li.movies__item 
        a.movies__link
          img(src="img/posters-movies/poster-1.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-movies/poster-2.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-movies/poster-3.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-movies/poster-4.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-movies/poster-5.png", alt="Move").movies__img
      li.movies__item 
        a.movies__link
          img(src="img/posters-movies/poster-6.png", alt="Move").movies__img
    button(type="button").movies__btn See more