@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import "blocks/normalize";
@import "blocks/variables";

@font-face {
  font-family: 'Marcellus';
  src: url('../fonts/Marcellus-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
}

body {
  background-color: $black;
  color: $white;
  font-size: 1.4rem;
  // font-family: 'Marcellus', serif;
  font-family: 'Mulish', sans-serif;
}

button {
  outline: none;
}

@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/nav-list";
@import "blocks/user-list";
@import "blocks/banner";

