- var pageTitle = 'OnlineTV'

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="styles/style.css")
  body
    include modules/header
    main 
      include modules/banner

    include modules/footer
