- var pageTitle = 'OnlineTV'

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="styles/style.css")
  body
    include modules/header
    h1= pageTitle
    include modules/footer
