- var pageTitle = 'OnlineTV'

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="styles/style.css")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;700;800&display=swap")
  body
    include modules/header
    main 
      include modules/banner
      include modules/trending-tv-shows
      include modules/trending-movies
      include modules/genres



    include modules/footer
